{% load static %}
<!--section 2-->
<div class="col-md-6 dashboard-section" id="section2">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="{% static 'images/1.jpg'%}" alt="..." class="rounded" style="height: 100px; width: 100px;">
            </div>
            <div class="flex-column mt-2">
                <div class="flex ms-3">
                    <h4>نام کلینیک</h4>                      
                </div>
                
                <div class="flex ms-3 mt-4">
                    <strong>وضعیت:</strong>
                </div>
            </div>
            
          </div>
          <div class="row justify-content-center">
                <div class="col-md-4">
                    <strong>زمان:</strong>
                </div>
                <div class="col-md-4">
                    <strong>هزینه:</strong>
                </div>
                <div class="w-100"></div>
                
          </div>
          <div class="d-flex flex-row-reverse">
            <div class="p-2 ml-0">
                <button type="button" class="btn btn-outline-info">نظردهی</button>

            </div>
          </div>
    </div>
  </div>