{% load static %}
<!--section3--> 

<div class="container w-50 dashboard-section" id="section3">
      
  <div class="flex justify-content-around">
      <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
              <label for="exampleFormControlInput1" class="form-label">0 ریال </label>
          </div>
          <div class="d-flex justify-content-center">
              <label for="exampleFormControlInput1" class="form-label">موجودی </label>
          </div>
          <div class="d-flex justify-content-center">
              <div class="p-1 mx-5">
                  <button type="button" class="btn btn-primary btn-md ">افزایش موجودی</button>
              </div>
              
              <div class="p-1 mx-5">
                  <button type="button" class="btn btn-primary btn-md" style="width: 131px;">برداشت وجه</button>
              
              </div>
          </div>
          
      </div>
  
      <div class="d-flex flex-column mt-4  justify-content-center">
          <div class="d-flex justify-content-center">
              <div class="row flex-grow-1">
                  <div class="col-md-4 "> تراکنش های ماه اخیر </div>
                  <div class="col-md-6"></div>
                  <div class="col-md-2 ">مشاهده همه</div>
              </div>
          </div>
          <div class="d-flex flex-column mt-4 border border-success rounded px-2">
              <div class="d-flex flex-column">
                  <div class="row flex-grow-1 justify-content-evenly">
                      <div class="col-md-2 text-end">100000ریال</div>
                      <div class="col-md-8"></div>
                      <div class="col-md-2 text-center">موفق</div>
                  </div>
                  
                  <div class="row flex-grow-1 justify-content-evenly">
                      <div class="col-md-2 text-center">عنوان</div>
                      <div class="col-md-8"></div>
                      <div class="col-md-2 text-center">نوبت گیری</div>
                  </div>
                  <div class="row flex-grow-1 ">
                      <div class="col-md-4 ">تاریخ و ساعت</div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4 text-end">1402/10/12 ، 18:58:10</div>
                  </div>
              </div>
              <div class="d-flex ">
                  
              </div>
          </div>
</div>   
</div>
</div>